@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #EFF2F5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.container {
    width: 520px;
}

.section {
    padding: 12px;
    background-color: #F5F7F9;
    border-radius: 8px;
    margin-top: 12px;
}

.section .label {
    width: 200px;
    padding: 8px 6px;
}