{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="www.myPL.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta http-equiv="Content-Encoding" content="gzip, deflate, br">
        {% block title %}
        <title>Dashboard</title>
        {% endblock %}
        <link rel="icon" type="image/gif/x-icon" href="{% static 'favicon.ico' %}"/>

        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </head>
    <body>
        {% block main_part %}
        {% endblock %}
</body>

{% block js_bottom %}
{% endblock %}
</html>