{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="www.myPL.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta http-equiv="Content-Encoding" content="gzip, deflate, br">
        {% block title %}
        <title>Dashboard</title>
        {% endblock %}
        <link rel="icon" type="image/gif/x-icon" href="{% static 'favicon.ico' %}"/>

        {% block css %}
        {% endblock %}

        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        {% block js %}
        {% endblock %}
    </head>
    <body>
        {% block main_part %}
        {% endblock %}
        
        {% block js_bottom %}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    </body>
</html>